/* Fundo da página */
body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Caixa da calculadora */
.calculadora {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Tela */
#display {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 8px;
  box-sizing: border-box; /* 🔥 ESSA LINHA RESOLVE O ALINHAMENTO */
  color: #0f172a; /* texto mais escuro */
  background: #e2e8f0; /* fundo mais claro */
  font-weight: bold;
  letter-spacing: 1px;
}


/* Grade dos botões */
.botoes {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 15px;
}

/* Botões */
button {
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #334155;
  color: white;
  transition: 0.2s;
}

/* Efeito ao passar o mouse */
button:hover {
  background: #475569;
}

button:nth-child(4n) {
  background: #2563eb;
}

button:nth-child(4n):hover {
  background: #1d4ed8;
}

button:last-child {
  grid-column: span 4;
  background: #22c55e;
}

button:last-child:hover {
  background: #16a34a;
}
